*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.header{
background-image: url(images/banner/banner2.png);
background-repeat: no-repeat;
height: 809px;
}
.header-title{
    color:#151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    }